<li 
    class="border border-x-0 border-t-0 py-1.5 px-2 flex justify-between items-center"
>
    <div class="flex flex-1 items-center">
        <input class="hidden" [id]="id" type="checkbox" [checked]="done" />
        
        <div class="flex flex-1 items-center  hover:bg-slate-800 rounded py-1.5 px-2">
            <label 
                [for]="id" 
                (click)="handleToggle(id)"
                class="flex flex-1 items-center gap-2 cursor-pointer"
            >
                <span 
                    class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-slate-500 rounded-full"
                >
                    <svg 
                        class="w-5 h-5 fill-current" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 20 20" 
                        fill="currentColor"
                        [ngClass]="{'text-green-500': done}"
                    >
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                </span>
                
                <span class="flex-1" [ngClass]="done ? 'line-through' : ''">
                    {{ description }}
                </span>

            </label>

            <svg 
                (click)="handleDelete(id)" 
                class="w-5 h-5 fill-current hover:fill-red-500 hover:cursor-pointer" 
                viewBox="0 0 200 200" 
                xmlns="http://www.w3.org/2000/svg"
            >
            
                <path 
                    d="M100,15a85,85,0,1,0,85,85A84.93,84.93,0,0,0,100,15Zm0,150a65,65,0,1,1,65-65A64.87,64.87,0,0,1,100,165Z"
                />
                <path 
                    d="M128.5,74a9.67,9.67,0,0,0-14,0L100,88.5l-14-14a9.9,9.9,0,0,0-14,14l14,14-14,14a9.9,9.9,0,0,0,14,14l14-14,14,14a9.9,9.9,0,0,0,14-14l-14-14,14-14A10.77,10.77,0,0,0,128.5,74Z"
                />
        
            </svg>

        </div>

    </div>

</li>

